## Importing necessary packages

In [2]:
import pandas as pd

## Reading every csv file as pandas dataframe
### 2015 Census Data

In [8]:
df_15_census = pd.read_csv('acs2015_census_tract_data.csv')
df_15_census.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [15]:
df_15_cen_income = df_15_census[['CensusTract', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']]
df_15_cen_income.head()

   CensusTract   Income  IncomeErr  IncomePerCap  IncomePerCapErr
0   1001020100  61838.0    11900.0       25713.0           4548.0
1   1001020200  32303.0    13538.0       18021.0           2474.0
2   1001020300  44922.0     5629.0       20689.0           2817.0
3   1001020400  54329.0     7003.0       24125.0           2870.0
4   1001020500  51965.0     6935.0       27526.0           2813.0

In census data for 2015, after reviewing all columns, I decided that the above columns are useful for our analysis and stored those in the new dataframe df_15_c_income. From the source website of the data, we know that:
- Income - Median household income in dollars
- IncomeErr - Median household income error in dollars
- IncomePerCap - Income per capita in dollars
- IncomePerCapErr - Income per capita error in dollars

### 2015 County Data

In [14]:
df_15_county = pd.read_csv('acs2015_county_data.csv')
df_15_county.columns

Index(['CensusId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen', 'Income',
       'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [16]:
df_15_cou_income = df_15_county[['CensusId', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']]
df_15_cou_income.head()

   CensusId   Income  IncomeErr  IncomePerCap  IncomePerCapErr
0      1001  51281.0     2391.0         24974             1080
1      1003  50254.0     1263.0         27317              711
2      1005  32964.0     2973.0         16824              798
3      1007  38678.0     3995.0         18431             1618
4      1009  45813.0     3141.0         20532              708

### 2017 Census Data

In [17]:
df_17_census = pd.read_csv('acs2017_census_tract_data.csv')
df_17_census.columns

Index(['TractId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [19]:
df_17_cen_income = df_17_census[['TractId', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']]
df_17_cen_income.head()

      TractId   Income  IncomeErr  IncomePerCap  IncomePerCapErr
0  1001020100  67826.0    14560.0       33018.0           6294.0
1  1001020200  41287.0     3819.0       18996.0           2453.0
2  1001020300  46806.0     9496.0       21236.0           2562.0
3  1001020400  55895.0     4369.0       28068.0           3190.0
4  1001020500  68143.0    14424.0       36905.0          10706.0

### 2017 County Data

In [20]:
df_17_county = pd.read_csv('acs2017_county_data.csv')
df_17_county.columns

Index(['CountyId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [21]:
df_17_cou_income = df_17_county[['CountyId', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']]
df_17_cou_income.head()

   CountyId  Income  IncomeErr  IncomePerCap  IncomePerCapErr
0      1001   55317       2838         27824             2024
1      1003   52562       1348         29364              735
2      1005   33368       2551         17561              798
3      1007   43404       3431         20911             1889
4      1009   47412       2630         22021              850

## Data Analysis

In [28]:
cen_15_mean = df_15_cen_income['Income'].mean()
cen_15_med = df_15_cen_income['Income'].median()
cen_17_mean = df_17_cen_income['Income'].mean()
cen_17_med = df_17_cen_income['Income'].median()
cou_15_mean = df_15_cou_income['Income'].mean()
cou_15_med = df_15_cou_income['Income'].median()
cou_17_mean = df_17_cou_income['Income'].mean()
cou_17_med = df_17_cou_income['Income'].median()
print('From 2015 Census data, household mean income is ' + str(cen_15_mean) + ', and household median income is ' +
      str(cen_15_med))
print('From 2017 Census data, household mean income is ' + str(cen_17_mean) + ', and household median income is ' +
      str(cen_17_med))
print('From 2015 County data, household mean income is ' + str(cou_15_mean) + ', and household median income is ' +
      str(cou_15_med))
print('From 2017 County data, household mean income is ' + str(cou_17_mean) + ', and household median income is ' +
      str(cou_17_med))

From 2015 Census data, household mean income is 57225.56486193605, and household median income is 51094.0
From 2017 Census data, household mean income is 61086.829265280925, and household median income is 54375.0
From 2015 County data, household mean income is 46129.868903386145, and household median income is 44749.0
From 2017 County data, household mean income is 48994.966770186336, and household median income is 47636.5